---
import { joinURL } from "ufo";
import { GITHUB_OWNER, GITHUB_REPO } from "../lib/info";
import "../styles/global.css";

const { BASE_URL, GITHUB_SHA, GITHUB_RUN_ID } = import.meta.env;

interface Props {
  lang: string;
  title: string;
  additionalCspConnectSrc?: string;
  additionalCspScriptSrc?: string;
  trustedTypes?: string[];
}

const {
  lang,
  title,
  additionalCspConnectSrc,
  additionalCspScriptSrc,
  trustedTypes,
} = Astro.props;

const isValidSha = GITHUB_SHA && GITHUB_SHA.trim() !== "";
const revision = isValidSha ? GITHUB_SHA : "undefined";
const shortRevision = isValidSha ? GITHUB_SHA.substring(0, 7) : "undefined";
const runId = GITHUB_RUN_ID ?? "undefined";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    {
      import.meta.env.PROD && (
        <meta
          http-equiv="Content-Security-Policy"
          content={[
            `default-src 'self';`,

            `connect-src 'self' https://cloudflareinsights.com${additionalCspConnectSrc ?? ""};`,
            `img-src 'self' data: https://github.com/kaito-tokyo/live-backgroundremoval-lite/actions/workflows/daily-website-security-check.yaml/badge.svg;`,
            `script-src 'self' https://static.cloudflareinsights.com${additionalCspScriptSrc ?? ""};`,
            `style-src 'self';`,

            `require-trusted-types-for 'script';`,
            `trusted-types${trustedTypes && Array.isArray(trustedTypes) && trustedTypes.length > 0 ? " " + trustedTypes.join(" ") : ""};`,

            `base-uri 'none';`,
            `font-src 'self';`,
            `form-action 'self';`,
            `frame-src 'none';`,
            `manifest-src 'self';`,
            `object-src 'none';`,
            `upgrade-insecure-requests;`,
            `worker-src 'self';`,
          ].join(" ")}
        />
      )
    }

    <title>{title}</title>
    <slot name="head-info" />
    <link
      rel="alternate"
      type="text/markdown"
      href={joinURL(BASE_URL, "llms.txt")}
      title="LLM Context"
    />

    <link
      rel="icon"
      type="image/png"
      href={joinURL(BASE_URL, "favicon-96x96.png")}
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href={joinURL(BASE_URL, "favicon.svg")}
    />
    <link rel="shortcut icon" href={joinURL(BASE_URL, "favicon.ico")} />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={joinURL(BASE_URL, "apple-touch-icon.png")}
    />
    <link rel="manifest" href={joinURL(BASE_URL, "site.webmanifest")} />

    <meta name="revision" content={revision} />
    <meta name="github-repo" content={`${GITHUB_OWNER}/${GITHUB_REPO}`} />
    <meta name="github-build-id" content={runId} />

    <slot name="head-bottom" />
  </head>
  <body>
    <div>
      <slot />
      <footer>
        <div>
          <a
            href="https://github.com/kaito-tokyo/live-backgroundremoval-lite/actions/workflows/daily-website-security-check.yaml"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              src="https://github.com/kaito-tokyo/live-backgroundremoval-lite/actions/workflows/daily-website-security-check.yaml/badge.svg"
              alt="Daily Website Security Check"
            /></a
          >
          <a
            href={joinURL(BASE_URL, "llms.txt")}
            target="_blank"
            rel="noopener noreferrer">llms.txt</a
          >
        </div>
        <div>
          Commit: <a
            href={revision === "undefined"
              ? "#"
              : `https://github.com/${GITHUB_OWNER}/${GITHUB_REPO}/commit/${revision}`}
            target="_blank"
            rel="noopener noreferrer">{shortRevision}</a
          >
        </div>
        <div>&copy; 2025 Kaito Udagawa</div>
      </footer>
    </div>

    <slot name="body-bottom" />

    <!-- Cloudflare Web Analytics -->
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "0df4a48356ba406099ae721158ab230b"}'
    ></script><!-- End Cloudflare Web Analytics -->
  </body>
</html>

<style is:global>
  body {
    background-color: var(--color-bg);
    min-height: 100vh;
    margin: 0;
  }

  footer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer,
  footer a {
    color: #ccc;
  }

  footer img {
    vertical-align: middle;
  }
</style>
